 
table {
  border-collapse: collapse;
}

table, td, th {
  border: 1px solid black;
}

.checkbox-grid li {
    display: block;
    float: left;
    width: 25%;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin-left: auto;
  margin-right: auto;  
  margin-top: auto;  
  margin-bottom: auto;  
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
